*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
  --color-text: #000;
  --color-bg: #f2f1eb;
  --page-padding: 1rem;
  --columns: 15;
  --cursor-blend-mode: difference;
  --cursor-radius: 0;
}

.demo-1 {
  --color-text: #cdbcbc;
  --color-bg: #000;
  --cursor-bg: #5cafc1;
  --cursor-blend-mode: exclusion;
  --gradient-text-1: #e8c942;
  --gradient-text-2: rgb(148, 98, 209);
  background-image: url(../img/bg1.jpg);
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: "source-code-pro", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  overflow: hidden;
}

.content {
  padding: 0 var(--page-padding);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: start;
  font-family: "greycliff-cf", sans-serif;
  font-weight: 300;
}

.content h2 {
  font-size: 16vw;
  line-height: 1;
  margin: 0;
  pointer-events: none;
  background-color: var(--gradient-text-1);
  background-image: linear-gradient(
    45deg,
    var(--gradient-text-1),
    var(--gradient-text-2)
  );
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content p {
  margin: 3vh 0 0 0;
  max-width: 30ch;
  font-weight: 400;
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-variation-settings: "wght" 400, "opsz" 72, "ital" 0;
  pointer-events: none;
}

.cursor {
  height: 100%;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 99;
  mix-blend-mode: (var(--cursor-blend-mode));
  --size: calc(100vw / var(var(--columns)));
}

.cursor__inner {
  display: grid;
  grid-template-columns: repeat(var(--columns, var(--size)));
}

.cursor__inner-box {
  width: var(--size);
  height: var(--size);
  background: var(--cursor-bg);
  opacity: 0;
  border-radius: var(--cursor-radius);
}

@media screen and (min-width: 53em) {
  :root {
    --columns: 30;
    --page-padding: 2rem;
  }
  .content {
    align-items: center;
  }
}
